@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,300&family=Oxygen&family=Spectral+SC&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oxygen', sans-serif;*/
/* font-family: 'Spectral SC', serif; */
:root {
  --background: #15161c;
  --contentbackground: #1b1d21;
  --bordercolour: #262b2f;
  --navactive: #313442;
  --navhover: #4e5268;
  --link: #0096FF;
  --titlefont: font-family: 'Spectral SC', serif;
}

* {
  margin: 0px;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
}

h1 {
  font-family: 'Spectral SC', serif;
}

h2 {
  padding-bottom: .5rem;
}

h6 {
  margin-top: -.5rem;
}

hr {
  margin: 1.2rem 0rem;
  color: var(--bordercolour);
}

button {
  border: none;
  /* background: var(--navactive); */
  background: transparent;
  cursor: pointer;
  aspect-ratio: 1;
  /* border-radius: 4px; */
  font-size: .6rem;
}

.wikipagecontent p {
  font-size: .95rem;
  line-height: 1.3rem;
  letter-spacing: .02rem;
}

.fa-volume-high {
  position: relative;
  left: -.05rem;
}

.link {
  color: var(--link);
  text-decoration: none;
}

.pronunciation {
  font-weight: lighter;
  font-size: .8rem;
}

.hr-wikipage {
  margin-top: -.4rem;
}

.pagecontainer {
  display: grid;
  grid-template-columns: 125px auto;
  grid-template-rows: 75px auto;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 2 / 4;
  border-bottom: 1px solid var(--bordercolour);
  border-left: 1px solid var(--bordercolour);
  position: sticky;
  top: 0;
  background: var(--background);
  padding: .7rem;
}

.version {
  position: absolute;
  /* right: 4rem; */
  bottom: .1rem;
  font-size: .6rem;
}

.sidenav {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
  position: sticky;
  top: 0;
}

.navcontainer {
  position: sticky;
  top: 75px;
  display: flex;
  flex-direction: column;
}

.navitem {
  font-family: 'Oxygen', sans-serif;
  text-decoration: none;
  padding: .5rem 1rem;
  letter-spacing: .08rem;
  transition: .4s;
}

.navitem:hover {
  background: var(--navhover)
}

.creditsectioncontainer {
  position: sticky;
  bottom: 4.8rem;
  margin-top: auto;
}

.creditsection {
  margin: .2rem;
  /* margin-top: auto; */
  display: flex;
  flex-wrap: wrap;
}

.creditsection p {
  padding: .2rem .4rem;
  margin: .1rem;
  background: var(--navactive);
  border-radius: 4px;
  flex: auto;
  text-align: center;
  font-size: .8rem;
}

.active {
  background: var(--navactive)
}

.pagecontent {
  grid-column: 2 / 4;
  aspect-ratio: 1;
  background: var(--contentbackground);
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  border-left: 1px solid var(--bordercolour);
  border-bottom: 1px solid var(--bordercolour);
}

.linkpagetitle, .index-split-title {
  text-align: center;
}

.index-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  background: var(--bordercolour);
}

.linkpagecontainer {
  display: flex;
  flex-wrap: wrap;
}

.index-left, .index-right {
  display: flex;
  flex-direction: column;
  background: var(--contentbackground);
  padding: 1rem;
}

.linkpagecontainer a, .index-left a, .index-right a {
  margin: .38rem;
  /* padding: 1rem; */
  padding: 1rem .8rem;
  border-radius: 4px;
  background: var(--navactive);
  font-family: 'Oxygen', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: .4s;
  flex: auto;
  text-align: center;
}

.index-left a, .index-right a {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.indexsplittop {
  margin-bottom: 1rem;
}

.novelcontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.novelcontainer a {
  margin: .38rem;
  padding: 1rem .8rem;
  border-radius: 4px;
  background: var(--navactive);
  font-family: 'Oxygen', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: .4s;
}

.linkpagecontainer a:hover, .novelcontainer a:hover {
  background: var(--navhover);
}

@media only screen and

/* (hover: none) and (pointer: coarse)*/
(max-width: 800px) {
  body {
    background: var(--contentbackground);
  }

  .pagecontainer {
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 75px;
  }

  .version {
    right: .1rem;
  }

  .sidenav {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
  }

  .navcontainer {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--background);
    border-width: 0px;
    border-top: 1px solid var(--bordercolour);
  }

  .navitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem .5rem;
    transition: 0s;
  }

  .creditsectioncontainer, .creditsection, .creditsection p {
    display: none;
  }

  .pagecontent {
    padding: 1rem;
    margin-bottom: 52px;
    border-width: 0px;
  }

  .linkpagecontainer a {
    margin: .16rem;
    padding: .8rem .6rem;
    border-radius: 4px;
    background: var(--navactive);
    letter-spacing: 0rem;
  }
}