@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,300&family=Oxygen&family=Spectral+SC&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oxygen', sans-serif;*/
/* font-family: 'Spectral SC', serif; */
:root {
  --background: #15161c;
  --contentbackground: #1b1d21;
  --bordercolour: #262b2f;
  --navactive: #313442;
  --navhover: #4e5268;
  --link: #0096FF;
  --titlefont: font-family: 'Spectral SC', serif;
}

::selection {
  background: var(--navhover);
}

* {
  margin: 0px;
  color: white;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
}

/* H1 Used for the Websites title */
h1 {
  font-family: 'Spectral SC', serif;
}

/* h2 Used for the Wikipage Title */
h2 {
  padding-bottom: .5rem;
}

h3 {}

h4 {}

h5 {}

/* h6 is used on the sidebar for character pages */
h6 {
  font-size: .8rem;
}

hr {
  margin: 1.2rem 0rem;
  color: var(--bordercolour);
}

button {
  border: none;
  /* background: var(--navactive); */
  background: transparent;
  cursor: pointer;
  aspect-ratio: 1;
  /* border-radius: 4px; */
  font-size: .6rem;
}

/* img {
  width: 100%;
} */
.pagecontent {
  grid-column: 2 / 4;
  aspect-ratio: 1;
  background: var(--contentbackground);
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  border-left: 1px solid var(--bordercolour);
  border-bottom: 1px solid var(--bordercolour);
}

.wikipagecontent p {
  font-size: .95rem;
  line-height: 1.3rem;
  letter-spacing: .02rem;
}

.wikipage__sidebar {
  box-sizing: border-box;
  border: 1px solid var(--bordercolour);
  background: var(--background);
  text-align: center;
  float: right;
  width: 250px;
  margin-left: 2rem;
  margin-bottom: .4rem;
  padding: .2rem;
}

.wikipage__sidebar hr {
  margin: .2rem;
}

table {
  width: 100%;
  font-size: .8rem;
}

td {
  vertical-align: top;
  text-align: left;
}

.link {
  color: var(--link);
  text-decoration: none;
}

.pronunciation {
  font-weight: lighter;
  font-size: .8rem;
}

.hr-wikipage {
  margin-top: -.4rem;
}

.pagecontainer {
  display: grid;
  grid-template-columns: 125px auto;
  grid-template-rows: 75px auto;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 2 / 4;
  border-bottom: 1px solid var(--bordercolour);
  border-left: 1px solid var(--bordercolour);
  position: sticky;
  top: 0;
  background: var(--background);
  padding: .7rem;
  z-index: 99;
}

.version {
  position: absolute;
  /* right: 4rem; */
  bottom: .1rem;
  font-size: .6rem;
}

.sidenav {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 75px);
  position: sticky;
  top: 0;
}

.navcontainer {
  position: sticky;
  top: 75px;
  display: flex;
  flex-direction: column;
}

.navitem {
  font-family: 'Oxygen', sans-serif;
  padding: .5rem 1rem;
  letter-spacing: .08rem;
  transition: .4s;
}

.navitem:hover {
  background: var(--navhover)
}

.creditsectioncontainer {
  position: sticky;
  bottom: 4.8rem;
  margin-top: auto;
}

.creditsection {
  margin: .2rem;
  /* margin-top: auto; */
  display: flex;
  flex-wrap: wrap;
}

.creditsection p {
  padding: .2rem .4rem;
  margin: .1rem;
  background: var(--navactive);
  border-radius: .25rem;
  flex: auto;
  text-align: center;
  font-size: .8rem;
}

.active {
  background: var(--navactive)
}

.new-section {
  margin-top: 2rem;
}

.linkpagetitle, .index-split-title {
  text-align: center;
}

.index-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  background: var(--bordercolour);
}

.linkpagecontainer {
  display: flex;
  flex-wrap: wrap;
}

/* End of sidebar Code */
.index-left, .index-right {
  display: flex;
  flex-direction: column;
  background: var(--contentbackground);
  padding: 1rem;
}

.linkpagecontainer a, .index-left a, .index-right a {
  margin: .38rem;
  /* padding: 1rem; */
  padding: 1rem .8rem;
  border-radius: .25rem;
  background: var(--navactive);
  font-family: 'Oxygen', sans-serif;
  letter-spacing: .1rem;
  transition: .4s;
  flex: auto;
  text-align: center;
}

.index-left a, .index-right a {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.indexsplittop {
  margin-bottom: 1rem;
}

.novelcontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.novelcontainer a {
  margin: .38rem;
  padding: 1rem .8rem;
  border-radius: .25rem;
  background: var(--navactive);
  font-family: 'Oxygen', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: .4s;
}

.linkpagecontainer a:hover, .novelcontainer a:hover {
  background: var(--navhover);
}

.navcontainer a::selection {
  background: none;
}

/* Timeline Code */
.Timeline__Container {
  display: grid;
  grid-template: repeat(10, auto) / 1fr 3px 1fr;
}

.Timeline__Middle {
  border-radius: 15rem;
  background: var(--navactive);
  grid-area: 1 / 2 / 6 / 3;
}

.Timeline__Content {
  padding: .8rem 1rem;
}

.Timeline__Box__Left__Container, .Timeline__Box__Right__Container {
  Display: flex;
  align-items: center;
}

.Timeline__Box__Left, .Timeline__Box__Right {
  /* border: 3px solid var(--bordercolour); */
  border-radius: 1rem;
  background: var(--navactive);
  flex: auto;
}

.Timeline__Box__Left {
  text-align: right;
}

/* Responsive Code */
@media only screen and (hover: none) and (pointer: coarse) {
  body {
    background: var(--contentbackground);
  }

  .pagecontainer {
    display: flex;
    flex-direction: column;
  }

  .title {
    height: 75px;
  }

  .version {
    right: .1rem;
  }

  .sidenav {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
Z-index: 99;
  }

.wikipage__sidebar {
width: 100%;
}

  .navcontainer {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: var(--background);
    border-width: 0px;
    border-top: 1px solid var(--bordercolour);
  }

  .navitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem .5rem;
    transition: 0s;
  }

  .creditsectioncontainer, .creditsection, .creditsection p {
    display: none;
  }

  .pagecontent {
    padding: 1rem;
    margin-bottom: 52px;
    border-width: 0px;
  }

  .linkpagecontainer a {
    margin: .16rem;
    padding: .8rem .6rem;
    border-radius: .25rem;
    background: var(--navactive);
    letter-spacing: 0rem;
  }
}

/* Font Awesome */
.fa-volume-high {
  position: relative;
  left: -.05rem;
}

.fa-caret-left, .fa-caret-right {
  color: var(--navactive);
  font-size: 2rem;
  position: relative;
}

.fa-caret-right {
  right: 8px;
}

.fa-caret-left {
  left: 8px;
}
