@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&family=Spectral+SC&display=swap');

/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oxygen', sans-serif;
text-decoration: none;
padding: .5rem 1rem;*/
/* font-family: 'Spectral SC', serif; */
:root {
  --background: #15161c;
  --contentbackground: #1b1d21;
  --bordercolour: #262b2f;
  --navactive: #313442;
  --navhover: #4e5268;
  --link: #0096FF;
}

* {
  margin: 0px;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
}

h1 {
  font-family: 'Spectral SC', serif;
}

h2 {
  padding-bottom: .5rem;
}

hr {
  margin: 1.2rem 0rem;
  color: var(--bordercolour);
}

.link {
  color: var(--link);
}

.pagecontainer {
  display: grid;
  grid-template-columns: 125px auto;
  grid-template-rows: 75px auto;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 2 / 4;
  border-bottom: 1px solid var(--bordercolour);
  border-left: 1px solid var(--bordercolour);
  position: sticky;
  top: 0;
  background: var(--background);
  padding: .7rem;
}

.sidenav {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

.navcontainer {
  position: sticky;
  top: 75px;
  display: flex;
  flex-direction: column;
}

.navitem {
  font-family: 'Oxygen', sans-serif;
  text-decoration: none;
  padding: .5rem 1rem;
  letter-spacing: .1rem;
  transition: .4s;
}

.navitem:hover {
  background: var(--navhover)
}

.active {
  background: var(--navactive)
}

.pagecontent {
  grid-column: 2 / 4;
  aspect-ratio: 1;
  border-left: 1px solid var(--bordercolour);
  background: var(--contentbackground);
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid var(--bordercolour);
}

.linkpagetitle {
  text-align: center;
}

.linkpagecontainer {
  display: flex;
  flex-wrap: wrap;
}

.linkpagecontainer a {
  margin: .38rem;
  /* padding: 1rem; */
  padding: 1rem .8rem;
  border-radius: 4px;
  background: var(--navactive);
  font-family: 'Oxygen', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: .4s;
  flex: auto;
  text-align: center;
}

.novelcontainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.novelcontainer a {
  margin: .38rem;
  /* padding: 1rem; */
  padding: 1rem .8rem;
  border-radius: 4px;
  background: var(--navactive);
  font-family: 'Oxygen', sans-serif;
  letter-spacing: .1rem;
  text-decoration: none;
  transition: .4s;
}

.linkpagecontainer a:hover, .novelcontainer a:hover {
  background: var(--navhover);
}